body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	text-align: center;
	
}
h2, h3 {
	color: #ffffff;
	text-align: center;
	line-height: 1.5;
}

#li1, #li2, #geo1, #geo2, #geo3{
	color: #ffffff;
	line-height: 1.5;
	
}
 #wc1, #wc2, #wc3, #wc4 {
	color: #263b3e;
	line-height: 1.15;
	
}
#logo {
	background-color: #263b3e;
	height:160px;
	}
#w_img{
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
	max-height: 300px;
} 
#c2, #c3{
	background-color: #7fcc4a;
}
#c1, #cE, #c4{
	background-color: #263b3e;
}
#c2, #c3, #c4, #cE {
	height: 400px;
	margin-bottom: 40px;
	
}

#c3 {
	background-image: url("ge2.png");
    background-repeat: no-repeat bottom right;
    background-size: cover;
	height: 600px;
	
	margin-bottom: 40px;
	
}

.btn {
	background-color: #52ffda;
}
.drop {
	display: hidden;
	height: 200px;
	font: #ffffff;
}


/* * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.gallery {
  background: #7fcc4a;
}

.gallery-cell {
  width: 100%;
  height: 300px;
  margin-right: 10px;
  margin-left: 10px;
  background: #7fcc4a;
  counter-increment: gallery-cell;
} */